.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #333;
  background: linear-gradient(
    135deg,
    rgba(172, 208, 255, 1) 0%,
    rgba(172, 208, 255, 1) 50%,
    rgba(144, 22, 201, 1) 50%,
    rgba(144, 22, 201, 1) 100%
  );
}
