.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #333;
  background: linear-gradient(
    135deg,
    #acd0ff 0%,
    #acd0ff 50%,
    #9016c9 50%,
    #9016c9 100%
  );
}
